:root {
  --color-primary: #00378f;
  --color-primary-light: #60efff;
  --color-primary-dark: #00173d;
  --color-primary-darker: #001029;
  --color-primary-darkest: #000815;
  --color-primary-light-1: #8bf3ff;
  --color-grey-light: #faf9f9;
  --color-grey-dark: #777;
  --color-grey-darkest: rgb(50, 49, 49); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-width: 100rem; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-grey-light);
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-darker));
  background-size: cover;
  background-repeat: no-repeat; }

.list {
  display: flex;
  align-items: center;
  margin-right: auto;
  list-style: none; }
  .list__item:not(:last-child) {
    margin-right: 1.75rem; }
  .list__item--link {
    text-decoration: none;
    color: var(--color-grey-dark);
    transition: color 0.3s ease; }
    .list__item--link:hover {
      color: var(--color-grey-light);
      cursor: pointer; }
  .list__item--link-active {
    text-decoration: none;
    color: var(--color-grey-light);
    cursor: pointer; }

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .user > *:not(:last-child) {
    margin-right: 1rem; }
  .user__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light); }
  .user__icon-1 {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light);
    opacity: 0.7; }
  .user__icon-2 {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light);
    opacity: 0.7; }
  .user__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 50%, rgba(96, 239, 255, 0.3) 100%);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease; }
    .user__notification:hover {
      background-color: red; }
  .user__message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 50px;
    background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 50%, rgba(96, 239, 255, 0.3) 100%);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease; }
    .user__message:hover {
      background-color: green; }
  .user__menu {
    display: flex;
    height: 3rem;
    background-color: var(--color-primary); }
    .user__menu--image {
      width: 3rem;
      height: 3rem; }
    .user__menu--profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.65rem;
      border-left: 3px solid var(--color-primary-light);
      opacity: 0.8;
      transition: all 0.3s ease; }
      .user__menu--profile:hover {
        opacity: 1; }

.list-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: -1rem; }
  .list-bottom .arrows {
    margin-right: 1rem; }
    .list-bottom .arrows__svg {
      fill: var(--color-grey-dark);
      width: 3rem;
      height: 3rem;
      transition: fill 0.3s ease; }
      .list-bottom .arrows__svg:hover {
        fill: var(--color-grey-light); }

.list-item-bottom {
  list-style: none;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase; }
  .list-item-bottom:not(:last-child) {
    margin-right: 1.75rem; }
  .list-item-bottom-link {
    text-decoration: none;
    color: var(--color-grey-light);
    opacity: 0.85;
    transition: all 0.3s ease; }
    .list-item-bottom-link:hover {
      opacity: 1;
      text-shadow: #fff 0 0 10px; }
  .list-item-bottom-link-active {
    text-decoration: none;
    color: var(--color-grey-light);
    opacity: 1;
    text-shadow: #fff 0 0 10px; }

.image {
  font-size: 1.1rem;
  color: var(--color-grey-light);
  text-transform: uppercase;
  padding: 0 0 1rem 1rem; }
  .image__cards {
    width: 15rem; }
  .image__link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 0;
    transition: color 0.3s ease; }
    .image__link:hover {
      color: var(--color-grey-light); }

.sidelist {
  list-style: none;
  padding-left: 1rem; }
  .sidelist__title {
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0; }
  .sidelist__item {
    line-height: 21px; }
  .sidelist__link {
    text-decoration: none;
    color: var(--color-primary-light-1);
    font-weight: 600;
    transition: color 0.3s ease; }
    .sidelist__link:hover {
      color: var(--color-grey-light); }

.search {
  display: flex;
  flex-direction: column;
  padding-top: 1rem; }
  .search__wishlist {
    margin-left: auto;
    background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 50%, rgba(96, 239, 255, 0.3) 100%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease; }
    .search__wishlist span {
      padding: 0 1.75rem;
      line-height: 2;
      color: var(--color-grey-light);
      font-weight: 400; }
    .search__wishlist:hover {
      background-color: var(--color-primary-light-1);
      cursor: pointer; }
  .search__navigation {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 30%, #00378f 100%);
    box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.1); }
  .search__list {
    display: flex;
    align-items: flex-end;
    list-style: none; }
    .search__list--image {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem; }
  .search__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-grey-light);
    font-weight: 500;
    font-size: 1.2em;
    padding: 1rem;
    transition: all 0.5s ease; }
    .search__item:hover {
      background-color: rgba(96, 239, 255, 0.3); }
  .search__input {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem; }
    .search__input--box {
      padding: 0.5rem 1rem;
      background-color: var(--color-primary-dark);
      border: none; }
      .search__input--box:focus {
        outline: none;
        color: var(--color-grey-dark); }
    .search__input--btn {
      display: flex;
      border: none;
      padding: 0.5rem 1.75rem;
      background-image: linear-gradient(to right bottom, rgba(96, 239, 255, 0.9) 30%, rgba(0, 55, 143, 0.9) 100%);
      transition: background-color 0.3s ease; }
      .search__input--btn:hover {
        background-color: var(--color-primary-dark); }
      .search__input--btn:focus {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7); }
    .search__input--icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--color-grey-light); }

.slider__header {
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1rem; }

.slider__utility {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35rem;
  background-color: var(--color-primary-darkest);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.7); }

.slider__main {
  background-image: url(/img/screenshot_2.jpg);
  background-size: cover;
  background-repeat: none;
  flex: 0 0 58%; }

.slider__info {
  width: 100%;
  padding: 1.5rem; }
  .slider__info--header {
    padding: 0 0 1rem 0;
    font-size: 2.2rem;
    font-weight: 400; }
  .slider__info--title {
    line-height: 1.2;
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.6rem; }
  .slider__info--grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; }
    .slider__info--grid-img-1 {
      background-image: url(/img/screenshot.jpg);
      background-size: cover;
      width: 15.5rem;
      height: 7rem; }
    .slider__info--grid-img-2 {
      background-image: url(/img/screenshot_4.jpg);
      background-size: cover;
      width: 15.5rem;
      height: 7rem; }
    .slider__info--grid-img-3 {
      background-image: url(/img/screenshot_3.jpg);
      background-size: cover;
      width: 15.5rem;
      height: 7rem; }
    .slider__info--grid-img-4 {
      background-image: url(/img/screenshot_1.jpg);
      background-size: cover;
      width: 15.5rem;
      height: 7rem; }
  .slider__info--highlight {
    font-weight: 600;
    color: yellowgreen; }
  .slider__info--tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 3rem; }
  .slider__info--link {
    font-size: 1rem;
    background-color: var(--color-grey-darkest);
    color: var(--color-grey-light);
    text-decoration: none;
    padding: 0.1rem 0.7rem;
    border-radius: 2px; }
  .slider__info--pricing {
    display: flex; }
  .slider__info--price {
    display: flex;
    align-items: center;
    margin-right: auto; }
    .slider__info--price > * {
      padding: 0.2rem 1rem; }
    .slider__info--price-off {
      color: var(--color-grey-darkest);
      font-weight: 600;
      background-color: yellowgreen; }
    .slider__info--price-original {
      text-decoration-line: line-through;
      color: var(--color-grey-dark);
      font-size: 1.1rem; }
  .slider__info--os {
    display: flex; }
    .slider__info--os-icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-grey-light);
      margin-left: 0.6rem;
      opacity: 0.5; }

.slider__tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem; }
  .slider__tabs--icon {
    width: 1.8rem;
    height: 0.8rem;
    background-color: rgba(250, 249, 249, 0.3);
    margin: 0.25rem;
    border-radius: 2px;
    transition: all 0.2s ease; }
    .slider__tabs--icon:hover {
      background-color: rgba(250, 249, 249, 0.5);
      height: 0.9rem; }

.active {
  width: 1.8rem;
  height: 0.9rem;
  margin: 0.25rem;
  border-radius: 2px;
  background-color: rgba(250, 249, 249, 0.8); }

.half-step {
  width: 1.8rem;
  height: 0.9rem;
  margin: 0.25rem;
  border-radius: 2px;
  background-color: rgba(250, 249, 249, 0.5); }

.slider__arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 110.5%; }
  .slider__arrows--svg {
    width: 5rem;
    height: 5rem;
    fill: var(--color-grey-light); }

.left {
  height: 12rem;
  background-image: linear-gradient(to right, rgba(96, 239, 255, 0.5) 5%, rgba(0, 55, 143, 0.1) 100%);
  transition: background-color 0.3s ease-in; }
  .left:hover {
    background-color: var(--color-primary-light); }

.right {
  height: 12rem;
  background-image: linear-gradient(to right, rgba(0, 55, 143, 0.1) 5%, rgba(96, 239, 255, 0.5) 100%);
  transition: background-color 0.3s ease-in; }
  .right:hover {
    background-color: var(--color-primary-light);
    opacity: 0.8; }

.offers__banner {
  display: block;
  background: url("https://cdn.akamai.steamstatic.com/steam/clusters/takeunder/d10bae3e70e7a6afc711fa71/takeunder_desktop_english.jpg?t=1663183025") no-repeat center;
  max-width: 940px;
  width: 100%;
  height: 15.4vw;
  max-height: 150px;
  background-size: cover; }

.offers__grid {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }

.offers__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .offers__header--heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .offers__header--btn {
    color: var(--color-grey-light);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--color-grey-dark);
    padding: 0.2rem 1.25rem; }
    .offers__header--btn:hover {
      border: 1px solid var(--color-grey-light); }

.offers__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-primary-light-1);
  height: 39rem; }
  .offers__card--content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color-primary-dark);
    padding: 1.5rem; }
  .offers__card--heading {
    text-transform: uppercase;
    color: var(--color-grey-light);
    margin-bottom: 1.75rem; }

.offers__price {
  display: flex;
  margin-top: 0.75rem; }
  .offers__price--discount {
    display: flex;
    align-items: center;
    color: green;
    background-color: yellowgreen;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 1.25rem; }
  .offers__price--after {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0 1rem; }
  .offers__price--strike {
    text-decoration: line-through;
    color: var(--color-grey-light); }

.offers__arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 106.3%; }

.offers__svg {
  width: 3rem;
  fill: var(--color-grey-light); }

.navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  flex: 1;
  width: 100%;
  padding: 1rem 1.7rem 1rem 1.5rem;
  background-color: var(--color-primary-darkest);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
  z-index: 999; }

.navigation__top {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.container {
  display: flex;
  justify-content: center;
  padding-top: 9rem;
  padding-bottom: 9rem; }

.content {
  position: relative;
  display: flex;
  margin: 0 auto; }

.sidenav {
  position: relative;
  flex: 0 0 15%;
  padding: 4rem 0 2rem 0;
  margin-right: 4rem;
  transition: all 0.3s ease;
  z-index: 1; }
  @media only screen and (max-width: 1255px) {
    .sidenav {
      transform: translateX(30%);
      top: 0;
      right: 0;
      opacity: 0;
      flex: 0 0 0; } }

.games-hud {
  position: relative;
  max-width: 940px;
  width: 100%;
  flex: 1;
  transition: all 0.5s ease;
  z-index: 50; }
  @media only screen and (max-width: 1255px) {
    .games-hud {
      transform: translateX(-11%);
      max-width: 960px;
      margin: 0 auto; } }

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem; }

.offers {
  margin-top: 4rem; }
