:root {
  --color-primary: #00378f;
  --color-primary-light: #60efff;
  --color-primary-dark: #001029;
  --color-primary-darkest: #000815;
  --color-primary-light-1: #8bf3ff;
  --color-grey-light: #faf9f9;
  --color-grey-dark: #777;
  --color-grey-darkest: rgb(50, 49, 49); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-width: 100rem; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-grey-light);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.list {
  display: flex;
  align-items: center;
  margin-right: auto;
  list-style: none; }
  .list__item:not(:last-child) {
    margin-right: 1.75rem; }
  .list__item--link {
    text-decoration: none;
    color: var(--color-grey-dark);
    transition: color 0.3s ease; }
    .list__item--link:hover {
      color: var(--color-grey-light);
      cursor: pointer; }

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem; }
  .user > *:not(:last-child) {
    margin-right: 1rem; }
  .user__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light); }
  .user__icon-1 {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light); }
  .user__icon-2 {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light); }
  .user__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 50%, rgba(96, 239, 255, 0.3) 100%);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease; }
    .user__notification:hover {
      background-color: red; }
  .user__message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 50px;
    background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 50%, rgba(96, 239, 255, 0.3) 100%);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease; }
    .user__message:hover {
      background-color: green; }
  .user__menu {
    display: flex;
    height: 3rem;
    background-color: var(--color-primary); }
    .user__menu--image {
      width: 3rem;
      height: 3rem; }
    .user__menu--profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.65rem;
      border-left: 2px solid var(--color-primary-light);
      opacity: 0.8;
      transition: all 0.3s ease; }
      .user__menu--profile:hover {
        opacity: 1; }

.options {
  display: flex; }
  .options__box {
    display: flex;
    align-items: center; }
    .options__box:not(:last-child) {
      margin-right: 2rem; }

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-grey-dark);
  transition: all 0.3s ease; }
  .icon:hover {
    fill: var(--color-grey-light); }

.list-bottom {
  display: flex;
  justify-content: flex-start;
  margin-left: -1rem; }
  .list-bottom .arrows {
    margin-right: 1rem; }
    .list-bottom .arrows__svg {
      fill: var(--color-grey-dark);
      width: 3rem;
      height: 3rem;
      transition: fill 0.3s ease; }
      .list-bottom .arrows__svg:hover {
        fill: var(--color-grey-light); }

.list-item-bottom {
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase; }
  .list-item-bottom:not(:last-child) {
    margin-right: 1.75rem; }
  .list-item-bottom-link {
    text-decoration: none;
    color: var(--color-grey-dark);
    transition: color 0.3s ease; }
    .list-item-bottom-link:hover {
      color: var(--color-grey-light); }

.content {
  display: flex;
  width: 140rem;
  margin: 0 auto; }

.sidenav {
  flex: 0 0 15%;
  padding: 4rem 0 2rem 0; }

.image {
  font-size: 1.1rem;
  color: var(--color-grey-light);
  text-transform: uppercase;
  padding: 0 0 1rem 1rem; }
  .image__cards {
    width: 100%; }
  .image__link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 0;
    transition: color 0.3s ease; }
    .image__link:hover {
      color: var(--color-grey-light); }

.sidelist {
  list-style: none;
  padding-left: 1rem; }
  .sidelist__title {
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0; }
  .sidelist__item {
    line-height: 21px; }
  .sidelist__link {
    text-decoration: none;
    color: var(--color-primary-light);
    font-weight: 600;
    transition: color 0.3s ease; }
    .sidelist__link:hover {
      color: var(--color-grey-light); }

.search {
  display: flex;
  flex-direction: column;
  padding-top: 1rem; }
  .search__wishlist {
    margin-left: auto;
    background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 50%, rgba(96, 239, 255, 0.3) 100%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease; }
    .search__wishlist span {
      padding: 0 1.5rem;
      line-height: 2;
      color: var(--color-grey-light);
      font-weight: 600; }
    .search__wishlist:hover {
      background-color: var(--color-primary-light-1);
      cursor: pointer; }
  .search__navigation {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 30%, #00378f 100%);
    box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.1); }
  .search__list {
    display: flex;
    align-items: center;
    list-style: none; }
    .search__list--image {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem; }
  .search__item {
    padding: 1rem; }
    .search__item:hover {
      background-image: linear-gradient(to right bottom, rgba(0, 55, 143, 0.3) 80%, rgba(96, 239, 255, 0.3) 100%); }
  .search__link {
    text-decoration: none;
    color: var(--color-grey-light);
    font-weight: 700;
    font-size: 1.4rem; }
  .search__input {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem; }
    .search__input--box {
      padding: 0.5rem 1rem;
      background-color: var(--color-primary-dark);
      border: none; }
      .search__input--box:focus {
        outline: none;
        color: var(--color-grey-dark); }
    .search__input--btn {
      display: flex;
      border: none;
      padding: 0.35rem 1.75rem;
      background-image: linear-gradient(to right bottom, rgba(96, 239, 255, 0.9) 30%, rgba(0, 55, 143, 0.9) 100%);
      transition: background-color 0.3s ease; }
      .search__input--btn:hover {
        background-color: var(--color-primary-dark); }
      .search__input--btn:focus {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7); }
    .search__input--icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--color-grey-light); }

.games-hud {
  padding: 0 5rem;
  flex: 1; }

.slider__header {
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1rem; }

.slider__utility {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35rem;
  background-color: var(--color-primary-darkest);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

.slider__main {
  background-image: url(/img/screenshot.jpg);
  background-size: cover;
  background-repeat: none;
  flex: 0 0 50%; }

.slider__info {
  width: 100%;
  padding-left: 2rem; }
  .slider__info--header {
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 400; }
  .slider__info--title {
    display: flex;
    font-size: 1.8rem;
    font-weight: 400; }
  .slider__info--highlight {
    font-weight: 600;
    color: yellowgreen; }
  .slider__info--tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .slider__info--link {
    font-size: 1.2rem;
    background-color: var(--color-grey-dark);
    color: var(--color-grey-light);
    text-decoration: none;
    padding: 0 1rem;
    border-radius: 2px; }
  .slider__info--pricing {
    display: flex; }
  .slider__info--price {
    display: flex;
    align-items: center;
    margin-right: auto; }
    .slider__info--price > * {
      padding: 0.2rem 1rem; }
    .slider__info--price-off {
      color: var(--color-grey-darkest);
      font-weight: 600;
      background-color: yellowgreen; }
    .slider__info--price-original {
      text-decoration-line: line-through;
      color: var(--color-grey-dark);
      font-size: 1.1rem; }
  .slider__info--os-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-light); }

.slider__tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem; }
  .slider__tabs--icon {
    width: 1.8rem;
    height: 0.9rem;
    background-color: rgba(250, 249, 249, 0.3);
    margin: 0.25rem;
    border-radius: 2px;
    transition: all 0.3s ease; }
    .slider__tabs--icon:hover {
      background-color: rgba(250, 249, 249, 0.5); }

.active {
  width: 1.8rem;
  height: 0.9rem;
  margin: 0.25rem;
  border-radius: 2px;
  background-color: rgba(250, 249, 249, 0.8); }

.slider__arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 110%; }
  .slider__arrows--svg {
    width: 5rem;
    height: 5rem;
    fill: var(--color-grey-light); }

.left {
  height: 13rem;
  background-image: linear-gradient(to right, rgba(96, 239, 255, 0.5) 30%, rgba(0, 55, 143, 0.1) 100%);
  transition: background-color 0.3s ease; }
  .left:hover {
    background-color: var(--color-primary-light);
    opacity: 0.8; }

.right {
  height: 13rem;
  background-image: linear-gradient(to right, rgba(0, 55, 143, 0.1) 30%, rgba(96, 239, 255, 0.5) 100%);
  transition: background-color 0.3s ease; }
  .right:hover {
    background-color: var(--color-primary-light);
    opacity: 0.8; }

.navigation {
  display: grid;
  position: fixed;
  width: 100%;
  padding: 2rem 1.25rem;
  background-color: var(--color-primary-dark);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  z-index: 999; }

.navigation__top {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.container {
  display: flex;
  padding-top: 12rem; }

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem; }
