//////////////////////////////////////////////////
/// LINKS TOP LEFT

.list {
  display: flex;
  align-items: center;
  margin-right: auto;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 1.75rem;
    }

    &--link {
      text-decoration: none;
      color: var(--color-grey-dark);
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-grey-light);
        cursor: pointer;
      }
    }

    &--link-active {
      text-decoration: none;
      color: var(--color-grey-light);
      cursor: pointer;
    }
  }
}

//////////////////////////////////////////////////
/// USER PROFILE & NOTIFICATIONS

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > *:not(:last-child) {
    margin-right: 1rem;
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light);
  }

  &__icon-1 {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light);
  }

  &__icon-2 {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light);
  }

  &__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 55, 143, 0.3) 50%,
      rgba(96, 239, 255, 0.3) 100%
    );
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: red;
    }
  }

  &__message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 50px;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 55, 143, 0.3) 50%,
      rgba(96, 239, 255, 0.3) 100%
    );
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: green;
    }
  }

  &__menu {
    display: flex;
    height: 3rem;
    background-color: var(--color-primary);

    &--image {
      width: 3rem;
      height: 3rem;
    }

    &--profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.65rem;
      border-left: 2px solid var(--color-primary-light);
      opacity: 0.8;
      transition: all 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

//////////////////////////////////////////////////
/// BOTTOM NAVIGATION

.list-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: -1rem;

  .arrows {
    margin-right: 1rem;

    &__svg {
      fill: var(--color-grey-dark);
      width: 3rem;
      height: 3rem;
      transition: fill 0.3s ease;

      &:hover {
        fill: var(--color-grey-light);
      }
    }
  }
}

.list-item-bottom {
  list-style: none;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 1.75rem;
  }

  &-link {
    text-decoration: none;
    color: var(--color-grey-light);
    opacity: 0.85;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
      text-shadow: #fff 0 0 10px;
    }
  }

  &-link-active {
    text-decoration: none;
    color: var(--color-grey-light);
    opacity: 1;
    text-shadow: #fff 0 0 10px;
  }
}

//////////////////////////////////////////////////
/// SIDE NAVIGATION

.image {
  font-size: 1.1rem;
  color: var(--color-grey-light);
  text-transform: uppercase;
  padding: 0 0 1rem 1rem;

  &__cards {
    width: 100%;
  }

  &__link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 0;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-grey-light);
    }
  }
}

.sidelist {
  list-style: none;
  padding-left: 1rem;

  &__title {
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0;
  }

  &__item {
    line-height: 21px;
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary-light);
    font-weight: 600;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-grey-light);
    }
  }
}

//////////////////////////////////////////////////
/// GAMES HUD NAVIGATION

.search {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  &__wishlist {
    margin-left: auto;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 55, 143, 0.3) 50%,
      rgba(96, 239, 255, 0.3) 100%
    );
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;

    span {
      padding: 0 1.75rem;
      line-height: 2;
      color: var(--color-grey-light);
      font-weight: 400;
    }

    &:hover {
      background-color: var(--color-primary-light-1);
      cursor: pointer;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 55, 143, 0.3) 30%,
      rgba(0, 55, 143, 1) 100%
    );
    box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.1);
  }

  &__list {
    display: flex;
    align-items: flex-end;
    list-style: none;

    &--image {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-grey-light);
    font-weight: 500;
    font-size: 1.2em;
    padding: 1rem;
    transition: all 0.5s ease;

    &:hover {
      background-color: rgba(96, 239, 255, 0.3);
    }
  }

  &__input {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;

    &--box {
      padding: 0.5rem 1rem;
      background-color: var(--color-primary-dark);
      border: none;

      &:focus {
        outline: none;
        color: var(--color-grey-dark);
      }
    }

    &--btn {
      display: flex;
      border: none;
      padding: 0.5rem 1.75rem;
      background-image: linear-gradient(
        to right bottom,
        rgba(96, 239, 255, 0.9) 30%,
        rgba(0, 55, 143, 0.9) 100%
      );
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-primary-dark);
      }

      &:focus {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
      }
    }

    &--icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--color-grey-light);
    }
  }
}

//////////////////////////////////////////////////
/// SLIDER

.slider__header {
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1rem;
}

.slider__utility {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35rem;
  background-color: var(--color-primary-darkest);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.7);
}

.slider__main {
  background-image: url(/img/screenshot_2.jpg);
  background-size: cover;
  background-repeat: none;
  flex: 0 0 58%;
}

.slider__info {
  width: 100%;
  padding: 1.5rem;

  &--header {
    padding: 0 0 1rem 0;
    font-size: 2.2rem;
    font-weight: 400;
  }

  &--title {
    line-height: 1.2;
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
  }

  &--grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &-img-1 {
      background-image: url(/img/screenshot.jpg);
      background-size: cover;
      width: 15.5rem;
      height: 7rem;
    }

    &-img-2 {
      background-image: url(/img/screenshot_4.jpg);
      background-size: cover;
      width: 15.5rem;
      height: 7rem;
    }

    &-img-3 {
      background-image: url(/img/screenshot_3.jpg);
      background-size: cover;
      width: 15.5rem;
      height: 7rem;
    }

    &-img-4 {
      background-image: url(/img/screenshot_1.jpg);
      background-size: cover;
      width: 15.5rem;
      height: 7rem;
    }
  }

  &--highlight {
    font-weight: 600;
    color: yellowgreen;
  }

  &--tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 3rem;
  }

  &--link {
    font-size: 1rem;
    background-color: var(--color-grey-darkest);
    color: var(--color-grey-light);
    text-decoration: none;
    padding: 0.1rem 0.7rem;
    border-radius: 2px;
  }

  &--pricing {
    display: flex;
  }

  &--price {
    display: flex;
    align-items: center;
    margin-right: auto;

    & > * {
      padding: 0.2rem 1rem;
    }

    &-off {
      color: var(--color-grey-darkest);
      font-weight: 600;
      background-color: yellowgreen;
    }

    &-original {
      text-decoration-line: line-through;
      color: var(--color-grey-dark);
      font-size: 1.1rem;
    }
  }

  &--os {
    display: flex;

    &-icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-grey-light);
      margin-left: 0.6rem;
      opacity: 0.5;
    }
  }
}

.slider__tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;

  &--icon {
    width: 1.8rem;
    height: 0.9rem;
    background-color: rgba(250, 249, 249, 0.3);
    margin: 0.25rem;
    border-radius: 2px;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(250, 249, 249, 0.5);
    }
  }
}

.active {
  width: 1.8rem;
  height: 0.9rem;
  margin: 0.25rem;
  border-radius: 2px;
  background-color: rgba(250, 249, 249, 0.8);
}

.half-step {
  width: 1.8rem;
  height: 0.9rem;
  margin: 0.25rem;
  border-radius: 2px;
  background-color: rgba(250, 249, 249, 0.5);
}

.slider__arrows {
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 111%;

  &--svg {
    width: 5rem;
    height: 5rem;
    fill: var(--color-grey-light);
  }
}

.left {
  height: 12rem;
  background-image: linear-gradient(
    to right,
    rgba(96, 239, 255, 0.5) 30%,
    rgba(0, 55, 143, 0.1) 100%
  );
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-primary-light);
    opacity: 0.8;
  }
}

.right {
  height: 12rem;
  background-image: linear-gradient(
    to right,
    rgba(0, 55, 143, 0.1) 30%,
    rgba(96, 239, 255, 0.5) 100%
  );
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-primary-light);
    opacity: 0.8;
  }
}

//////////////////////////////////////////////////
/// BANNER

.offers__banner {
  display: block;
  background: url("https://cdn.akamai.steamstatic.com/steam/clusters/takeunder/d10bae3e70e7a6afc711fa71/takeunder_desktop_english.jpg?t=1663183025")
    no-repeat center;
  max-width: 940px; //max-width means it can get smaller but it can't get bigger
  width: 100%;
  height: 15.4vw;
  max-height: 150px;
  background-size: cover;
}

//////////////////////////////////////////////////
/// SPECIAL OFFERS

.offers__grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.offers__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &--heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &--btn {
    color: var(--color-grey-light);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--color-grey-dark);
    padding: 0.2rem 1.25rem;

    &:hover {
      border: 1px solid var(--color-grey-light);
    }
  }
}

.offers__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-primary-light-1);
  height: 40rem;

  &--content {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color-primary-dark);
    padding: 1.5rem;
  }

  &--heading {
    text-transform: uppercase;
    color: var(--color-grey-light);
    margin-bottom: 1.75rem;
  }
}

.offers__price {
  display: flex;
  margin-top: 0.75rem;

  &--discount {
    display: flex;
    align-items: center;
    color: green;
    background-color: yellowgreen;
    font-size: 2rem;
    padding: 0 1rem;
  }

  &--after {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0 1rem;
  }

  &--strike {
    text-decoration: line-through;
    color: var(--color-grey-light);
  }
}

.offers__arrows {
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 106.4%;
}

.offers__svg {
  width: 3rem;
  fill: var(--color-grey-light);
}
