//////////////////////////////////////////////////
/// LINKS TOP LEFT

.list {
  display: flex;
  align-items: center;
  margin-right: auto;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 1.75rem;
    }

    &--link {
      text-decoration: none;
      color: var(--color-grey-dark);
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-grey-light);
        cursor: pointer;
      }
    }
  }
}

//////////////////////////////////////////////////
/// USER PROFILE & NOTIFICATIONS

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;

  & > *:not(:last-child) {
    margin-right: 1rem;
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light);
  }

  &__icon-1 {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light);
  }

  &__icon-2 {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light);
  }

  &__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 55, 143, 0.3) 50%,
      rgba(96, 239, 255, 0.3) 100%
    );
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: red;
    }
  }

  &__message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 50px;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 55, 143, 0.3) 50%,
      rgba(96, 239, 255, 0.3) 100%
    );
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: green;
    }
  }

  &__menu {
    display: flex;
    height: 3rem;
    background-color: var(--color-primary);

    &--image {
      width: 3rem;
      height: 3rem;
    }

    &--profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.65rem;
      border-left: 2px solid var(--color-primary-light);
      opacity: 0.8;
      transition: all 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

//////////////////////////////////////////////////
/// OPTIONS

.options {
  display: flex;

  &__box {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

//////////////////////////////////////////////////
/// ICON

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-grey-dark);

  &:hover {
    fill: var(--color-grey-light);
  }
}

//////////////////////////////////////////////////
/// BOTTOM NAVIGATION

.list-bottom {
  display: flex;
  justify-content: flex-start;
  margin-left: -1rem;

  .arrows {
    margin-right: 1rem;

    &__svg {
      fill: var(--color-grey-dark);
      width: 3rem;
      height: 3rem;
      transition: fill 0.3s ease;

      &:hover {
        fill: var(--color-grey-light);
      }
    }
  }
}

.list-item-bottom {
  list-style: none;
  font-size: 2rem;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 1.75rem;
  }

  &-link {
    text-decoration: none;
    color: var(--color-grey-dark);
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-grey-light);
    }
  }
}

//////////////////////////////////////////////////
/// MAIN CONTENT

.content {
  display: flex;

  width: 140rem;
  margin: 0 auto;
}

//////////////////////////////////////////////////
/// SIDE NAVIGATION

.sidenav {
  flex: 0 0 15%;
  padding: 2rem 0;
}

.image {
  font-size: 1.1rem;
  color: var(--color-grey-light);
  text-transform: uppercase;
  padding: 0 0 1rem 0;

  &__cards {
    width: 100%;
  }

  &__link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-weight: 600;
    padding: 1rem 0;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-grey-light);
    }
  }
}

.sidelist {
  list-style: none;

  &__title {
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0;
  }

  &__item {
    line-height: 21px;
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary-light);
    font-weight: 600;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-grey-light);
    }
  }
}

//////////////////////////////////////////////////
/// GAMES HUD NAVIGATION

.search {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  &__wishlist {
    margin-left: auto;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 55, 143, 0.3) 50%,
      rgba(96, 239, 255, 0.3) 100%
    );
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;

    span {
      padding: 0 1.5rem;
      line-height: 2;
      color: var(--color-grey-light);
      font-weight: 600;
    }

    &:hover {
      background-color: var(--color-primary-light-1);
      cursor: pointer;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 55, 143, 0.3) 30%,
      rgba(0, 55, 143, 1) 100%
    );
    box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.1);
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;

    &--image {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }

  &__item {
    padding: 1rem;

    &:hover {
      background-image: linear-gradient(
        to right bottom,
        rgba(0, 55, 143, 0.3) 50%,
        rgba(96, 239, 255, 0.3) 100%
      );
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-grey-light);
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__input {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;

    &--box {
      padding: 0.5rem 1rem;
      background-color: var(--color-primary-dark);
      border: none;

      &:focus {
        outline: none;
        color: var(--color-grey-dark);
      }
    }

    &--btn {
      border: none;
      padding: 0.35rem 1.75rem;
      background-image: linear-gradient(
        to right bottom,
        rgba(0, 55, 143, 0.3) 50%,
        rgba(96, 239, 255, 0.3) 100%
      );
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-primary-light);
      }

      &:focus {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
      }
    }

    &--icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--color-grey-light);
    }
  }
}

//////////////////////////////////////////////////
/// GAMES HUD

.games-hud {
  padding: 0 5rem;
  flex: 1;
}
